version: '3.8'

services:
  dashboard:
    image: kjs0017/kilostone-dashboard:latest
    container_name: kilostone_app
    restart: unless-stopped
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./data:/app/data
    networks:
      - kilostone-network

  db:
    image: mysql:8.0
    container_name: kilostone_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - kilostone-network

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60 --cleanup
    networks:
      - kilostone-network

networks:
  kilostone-network:
    driver: bridge